.about {
  margin-top: 20px;
  padding-bottom: 50px;
}

.about__title {
  text-align: start;
}

.about__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 37px 150px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about__item {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.about__icon {
  margin: 0 20px 0 0;
  width: 60px;
  height: 60px;
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;

  &--leaf {
    background-image: url("../img/icons/icon-leaf.svg");
  }

  &--powder {
    background-image: url("../img/icons/icon-powder.svg");
  }

  &--eat {
    background-image: url("../img/icons/icon-eat.svg");
  }

  &--time {
    background-image: url("../img/icons/icon-time.svg");
  }
}

.about__description {
  color: $special-text-color;
}
