.button {
  display: block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $base-color;
  text-decoration: none;
  background-color: $accent-color;
  border: none;

  &--additional {
    @include font-secondary;
    font-size: 16px;
    line-height: 20px;
    color: $special-text-color;
    background-color: $basic-grey-color;
  }

  &--submit {
    @include font-secondary;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
