.button {
  @include font-secondary;
  display: block;
  padding: 7px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $base-color;
  text-decoration: none;
  background-color: $accent-color;
  border: none;

  &:hover {
    background-color: $buttonHoverColor;
  }

  &:active {
    background-color: $buttonHoverColor;
    color: rgba($base-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 14px 0;
  }

  &--additional {
    font-size: 16px;
    line-height: 20px;
    color: $special-text-color;
    background-color: $basic-grey-color;

    &:hover {
      background-color: $buttonAddHoverColor;
    }

    &:active {
      background-color: $buttonAddHoverColor;
      color: rgba($special-text-color, 0.3);
    }
  }

  &--submit {
    width: 100%;
    padding: 9px 0;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: $tablet-width) {
      width: auto;
      max-width: 50%;
      padding: 17px 67px;
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 208px;
    }
  }

  &--catalog {
    font-size: 16px;
    line-height: 1;
    padding: 12px 0;
  }
}
