.card {
  @include list-reset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 0 23px;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: $card-border-color;
    bottom: 0;
  }

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: $card-border-color;
      top: -15px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  &--more {
    padding-top: 19px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    background-color: $basic-grey-color;
    border: none;

    &::after {
      content: none;
    }

    &:first-child::before {
      content: none;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--more {
      background: none;
      border: 2px solid $basic-grey-color;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 38px;
  }
}

.card__wrapper {
  display: flex;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    padding: 155px 36px 25px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 155px 36px 24px 40px;
  }

  &--more {
    position: relative;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      padding: 137px 37px 77px 37px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 138px;
    }
  }
}

.card__image-link {
  padding: 13px 36px 12px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--full {
    padding: 11px 28px 1px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--padding-l {
    padding-top: 24px;
    padding-bottom: 7px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--more {
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.card__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: -16%;
    left: calc(50% - 80px);
    width: 163px;
    height: 174px;
    object-fit: contain;

    &--big-size {
      top: -23%;
      left: calc(50% - 88px);
      width: 168px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    top: -18%;
    left: calc(50% - 80px);
    width: 161px;
    height: 172px;

    &--big-size {
      top: -26%;
      left: calc(50% - 86px);
      width: 176px;
      height: 196px;
    }
  }

  &--plus {
    position: absolute;
    top: -25%;
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;
    margin: 30px 0 39px 0;
    background: $card-plus-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background: $card-plus-color;
      transform: rotate(90deg);
    }

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 9%;
      left: calc(50% - 30px);

      &::after {
        width: 60px;
        top: 11%;
        left: 0;
      }
    }

    @media (min-width: $desktop-width) {
      top: 9%;
    }
  }
}

.card__info {
  margin-bottom: 9px;
  text-align: center;
  flex-grow: 1;

  &--more {
    margin: 0 auto 10px;
  }
}

.card__link {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    max-width: 145px;
    margin-bottom: 16px;
    padding-left: 5px;
  }

  &--more {
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      padding: 3px 0 0;
      margin-bottom: 17px;
    }
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: $special-text-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: 6px 3px 9px 1px;
    border-bottom: 1px solid $special-grey-color;
  }
}

.card__title {
  @include font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: $dark-text-color-2;
  display: block;
  max-width: 73px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 168px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }

  &--more {
    display: inline-block;
    color: $dark-text-color;
    max-width: fit-content;

    @media (min-width: $tablet-width) {
      max-width: 175px;
    }
  }
}

.card__subtitle {
  padding: 0;
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 16px;
  color: $special-text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 176px;
  }
}

.card__button {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 248px;
  }

  @media (min-width: $desktop-width) {
    max-width: 170px;
  }
}
