.catalog {
  margin-top: 50px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 164px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 166px;
    margin-bottom: 68px;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 139px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 149px 80px;
  }
}

.catalog__card {
  margin: 0 -25px 0 -25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
