.catalog {
  margin-top: 54px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 83px;
    margin-bottom: 51px;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 57px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 65px 80px;
  }
}

.catalog__card {
  margin: 0 -25px 0 -25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
