.choose-program {
  @include font-secondary;
  text-align: center;
  color: $base-color;
}

.choose-program__wrapper {
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.choose-program__content {
  padding: 27px 0 0 0;
  margin: 0 -30px 0 -30px;
  min-height: 302px;
  //background: $accent-color;
  background: url("../img/index-bg.png"), url("../img/index-background.jpg") no-repeat center;
  background-size: cover;
}

.choose-program__title {
  padding: 0 20px 0 20px;
  margin: 0 0 25px 0;
  font-size: 36px;
  line-height: 36px;
}

.choose-program__slogan {
  line-height: 14px;
  text-transform: uppercase;
}

.choose-program__image-wrapper {
  margin-top: -135px;
}
