.dealer__wrapper {
  padding: 26px 0;
  display: flex;
  align-items: center;
}

.dealer__title {
  @include font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: $dark-text-color;
  text-transform: uppercase;
}

.dealer__address {
  max-width: 50%;
  font-size: 14px;
  line-height: 20px;
  color: $special-text-color;
  font-style: normal;
}
