.form {
  @include font-secondary;
  padding-top: 27px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__title {
  margin: 0 0 57px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.form__subtitle {
  margin: 0 0 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin: 0 4px 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 35px;
    max-width: 1220px;
  }
}

.form__group {
  color: $special-text-color;

  &--base {
    padding: 0 20px 10px;

    @media (min-width: $tablet-width) {
      padding: 0 67px 0 71px;
      margin: 0 auto 45px;
      max-width: 800px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &--radio {
    color: $additional-text-color;
    padding: 22px 20px 8px;
    margin-bottom: 27px;
    border-top: 1px solid $background-additional-color;
    border-bottom: 1px solid $background-additional-color;

    @media (min-width: $tablet-width) {
      padding-right: 70px;
      padding-left: 67px;
      border: none;
      margin: 0 auto;
      max-width: 800px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin-left: 0;
    }
  }

  &--owner {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &--comment {
    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }
}

.form__container {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 70px;
    padding-left: 67px;
    margin: 0 auto;
    max-width: 800px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    max-width: 1220px;
  }

  &--owner,
  &--additional,
  &--comment {
    background-color: $base-color;
  }

  &--owner {
    padding-right: 0;
    padding-left: 19px;

    @media (min-width: $desktop-width) {
      padding-left: 47px;
    }
  }

  &--comment {
    @media (min-width: $tablet-width) {
      padding-left: 40px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      padding-left: 36px;
      padding-right: 10px;
    }
  }
}

.form__group-title__wrapper {
  background-position-y: revert;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--owner {
    padding: 0 100px 4px 0;
    background: linear-gradient(to bottom, transparent 24%, $accent-color 28%, transparent calc(23% + 2px) 100%);
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding: 0 146px 4px 50px;
      background: linear-gradient(to bottom, transparent 45%, #68b738 52%, transparent calc(23% + 2px));
      margin-bottom: 64px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 778px 4px 61px;
    }
  }

  &--comment {
    padding: 7px 157px 4px 0;
    background: linear-gradient(to bottom, transparent 51%, $accent-color 58%, transparent calc(23% + 2px) 100%);
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding: 0 480px 38px 32px;
      background: linear-gradient(to bottom, transparent 25%, #68b738 29%, transparent calc(23% + 2px));
      margin-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 77% 38px 70px;
    }
  }

  &--additional {
    padding: 12px 136px 4px 0;
    background: linear-gradient(to bottom, transparent 57%, $accent-color 63%, transparent calc(23% + 2px) 100%);
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding: 12px 446px 4px 31px;
      background: linear-gradient(to bottom, transparent 57%, #68b738 63%, transparent calc(23% + 2px));
      margin-bottom: 49px;
    }

    @media (min-width: $desktop-width) {
      padding: 18px 75% 4px 72px;
    }
  }
}

.form__group-title {
  display: inline-block;
  padding-right: 17px;
  color: $standard-text-color;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding-right: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

.form__group-list {
  @include list-reset;
  text-align: start;
}

.form__legend {
  margin: 0;
  padding-top: 21px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 64px;
    font-size: 16px;
    text-align: left;
  }
}

.form__submit-container {
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
