.form-group__list {
  @include list-reset;

  &--owner {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      padding: 22px 0 12px 24px;
      border: 1px solid $form-border-color;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }

  &--additional {
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px 54px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 74px;
    }
  }
}

.form-group__item {
  &--owner {
    @media (min-width: $desktop-width) {
      width: 47%;
    }
  }
}
