.form-field {
  display: flex;
  width: 100%;
  margin-bottom: 13px;
  align-items: center;
}

.form-field__label {
  flex-shrink: 0;
  font-size: 16px;
  line-height: 18px;
  color: $special-text-color;
  text-transform: uppercase;

  &--base-color {
    color: $standard-text-color;
  }

  &--additional-color {
    color: $dark-text-color-2;
  }
}

.form-field__control {
  flex-grow: 1;
  margin-left: 13px;
  padding: 14px 20px 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-text-color;
  border: 1px solid $form-border-color;
  text-transform: uppercase;
  min-width: 173px;

  &--radio {
    flex-grow: 0;
    width: 30px;
    margin: 0 15px 0 0;
    min-width: auto;
  }

  &--textarea {
    margin: 0;
    padding: 15px 9px 12px;
    min-height: 150px;
  }

  &--checkbox {
    flex-grow: 0;
    margin: 0 16px 0 0;
    min-width: auto;
  }

  &--phone {
    padding: 14px 12px 13px 15px;
  }

  &--email {
    padding: 14px 12px 13px 15px;
  }

  &::placeholder {
    @include font-secondary;
    text-transform: uppercase;
  }
}
