.form {
  @include font-secondary;
  padding-top: 27px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    margin-bottom: 82px;
  }
}

.form__title {
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 58px;
  }
}

.form__subtitle {
  margin: 0 0 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin: 0 4px 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 66px;
  }
}

.form__wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 52px;
    max-width: 1220px;
  }
}

.form__group {
  color: $special-text-color;

  &--base {
    padding: 0 20px 10px;

    @media (min-width: $tablet-width) {
      padding: 0 67px 0 71px;
      margin: 0 auto 45px;
      max-width: 800px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      width: 47%;
      margin: 0 78px 0 0;
    }
  }

  &--radio {
    color: $dark-text-color-2;
    padding: 25px 20px 8px;
    border-top: 1px solid $background-additional-color;
    border-bottom: 1px solid $background-additional-color;

    @media (min-width: $tablet-width) {
      padding-right: 67px;
      padding-left: 71px;
      border: none;
      margin: 0 auto;
      max-width: 800px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin-left: 0;
      width: 47%;
    }
  }

  &--owner {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }
  }

  &--comment {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 65px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.form__container {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 70px;
    padding-left: 67px;
    margin: 0 auto;
    max-width: 800px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    max-width: 1220px;
  }
}

.form__group-title__wrapper,
.form__title-container {
  background: linear-gradient(to bottom, transparent 0 48%, $accent-color 48% calc(48% + 2px), transparent calc(48% + 2px) 100%);

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 0 60%, $accent-color 60% calc(60% + 2px), transparent calc(60% + 2px) 100%);
  }
}

.form__group-title__wrapper--owner,
.form__title-container--owner {
  background: linear-gradient(to bottom, transparent 0 23%, $accent-color 23% calc(23% + 2px), transparent calc(23% + 2px) 100%);

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 0 58%, $accent-color 58% calc(58% + 2px), transparent calc(58% + 2px) 100%);
  }
}

.form__group-title__wrapper {
  margin-bottom: 29px;

  &--comment {
    margin-bottom: 34px;
  }

  &--additional {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;

    &--comment {
      margin-bottom: 73px;
    }

    &--additional {
      margin-bottom: 53px;
    }
  }
}

.form__title-container {
  padding-right: 20px;
  max-width: 245px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 800px;
    padding-right: 30px;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
    padding-right: 0;
    padding-left: 0;
  }
}

.form__group-title {
  display: inline-block;
  padding: 0 22px 0 20px;
  color: $standard-text-color;
  background: $base-color;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding: 0 42px;
  }
}

.form__group-list {
  @include list-reset;
  text-align: start;
}

.form__legend {
  margin: 0;
  padding-top: 21px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 64px;
    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.form__submit-container {
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
