.form-field {
  display: flex;
  width: 100%;
  margin-bottom: 13px;
  align-items: center;

  &--owner {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &--radio {
      margin-bottom: 12px;
    }

    &--owner {
      margin-bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;

    &--radio {
      margin-bottom: 12px;
    }

    &--owner {
      margin-bottom: 13px;
    }
  }
}

.form-field__label {
  flex-shrink: 0;
  font-size: 16px;
  line-height: 18px;
  color: $special-text-color;
  text-transform: uppercase;

  &--base-color {
    color: $standard-text-color;
  }

  &--additional-color {
    color: $dark-text-color-2;
  }

  &--owner {
    max-width: calc(100% - 180px);
  }

  &--radio {
    max-width: calc(100% - 45px);
  }

  &--checkbox {
    max-width: calc(100% - 45px);
  }

  &--contact {
    max-width: calc(100% - 200px);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--owner {
      max-width: calc(100% - 505px);
    }

    &--radio {
      max-width: calc(100% - 65px);
    }

    &--checkbox {
      max-width: calc(100% - 65px);
    }

    &--contact {
      max-width: calc(100% - 520px);
    }
  }

  @media (min-width: $desktop-width) {
    &--owner {
      max-width: calc(100% - 440px);
    }

    &--radio {
      max-width: calc(100% - 65px);
    }

    &--checkbox {
      max-width: calc(100% - 65px);
    }

    &--contact {
      max-width: calc(100% - 492px);
    }
  }
}

.form-field__control {
  flex-grow: 1;
  margin-left: 13px;
  padding: 14px 20px 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-text-color;
  border: 1px solid $form-border-color;
  text-transform: uppercase;
  min-width: 173px;

  @media (min-width: $tablet-width) {
    padding: 10px 20px 11px;
    font-size: 20px;
    line-height: 30px;
  }

  &--textarea {
    margin: 0;
    padding: 11px 6px 12px;
    min-height: 150px;
    letter-spacing: 0.3px;

    @media (min-width: $tablet-width) {
      min-height: 175px;
      padding: 8px 20px 12px;
      letter-spacing: 0.1px;
    }
  }

  &--phone {
    padding: 14px 12px 13px 15px;

    @media (min-width: $tablet-width) {
      margin-left: 26px;
      padding: 16px 12px 9px 19px;
    }
  }

  &--email {
    padding: 14px 12px 13px 15px;

    @media (min-width: $tablet-width) {
      margin-left: 26px;
      padding: 16px 12px 9px 19px;
    }
  }

  &--error {
    outline: 2px solid $form-border-error-color;
    box-shadow: unset;

    & + .form-field__control-icon {
      color: $form-border-error-color;
    }
  }

  &::placeholder {
    @include font-secondary;
    text-transform: uppercase;
  }
}

.form-field__control:hover {
  border: 1px solid $form-border-hover-color;
}

.form-field__control:focus {
  outline: 2px solid $form-border-focus-color;

  & + .form-field__control-icon {
    color: $accent-color;
  }
}

.form-field:hover .form-field__input-mark,
.form-field__control:focus + .form-field__input-mark {
  border: 1px solid $form-control-border-hover-color;
}

.form-field__control:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.form-field__control-icon {
  position: absolute;
  display: flex;
  align-items: center;
  right: 15px;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.form-field__input-mark {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 15px 0 0;
  width: 29px;
  height: 29px;
  border: 1px solid $special-grey-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 2px 23px 0 4px;
    width: 39px;
    height: 39px;
  }

  @media (min-width: $desktop-width) {
    margin: 1px 22px 0 1px;
  }

  &--radio {
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      margin: 2px 21px 0 4px;
    }
  }
}

.form-field__control[type="radio"]:checked + .form-field__input-mark--radio::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 13px;
  height: 13px;
  background: $accent-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.form-field__control[type="checkbox"]:checked + .form-field__input-mark--checkbox::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  display: block;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    width: 26px;
    height: 26px;
    top: 5px;
    left: 6px;
  }
}
