.item {
  padding: 9px 0 16px;
  border-bottom: 1px solid $card-border-color;

  &:first-child {
    border-top: 1px solid $card-border-color;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 25px 1px 30px 0;
    border: none;

    &:first-child {
      border-top: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: -39px;
      right: -39px;
      height: 1px;
      background-color: $card-border-color;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 17px 0 15px 0;

    &:first-child {
      border-top: 1px solid $card-border-color;
    }

    &::after {
      left: 0;
      right: 0;
    }
  }
}

.item__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    align-items: center;
    width: 60%;
  }
}

.item__title {
  @include font-secondary;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  width: 100%;
  color: $dark-text-color-2;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: fit-content;
  }
}

.item__info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $special-text-color;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: end;
    margin-top: 0;
    min-width: 35%;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 44%;
    margin-right: 42px;
    padding-top: 1px;
  }
}

.item__price {
  @media (min-width: $tablet-width) {
    display: inline-block;
    min-width: 40px;
    margin-left: 48px;
  }

  @media (min-width: $desktop-width) {
    &--short-price {
      padding-right: 9px;
    }
  }
}
