.item {
  padding: 8px 0 15px;
  border-bottom: 1px solid $card-border-color;

  &:first-child {
    border-top: 1px solid $card-border-color;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 0 30px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0 13px;

    &:first-child {
      border-top: 1px solid $card-border-color;
    }

    &:last-child {
      border-bottom: 1px solid $card-border-color;
    }
  }
}

.item__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    align-items: center;
    width: 60%;
  }
}

.item__title {
  @include font-secondary;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  width: 100%;
  color: $additional-text-color;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: fit-content;
  }
}

.item__info {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $special-text-color;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    min-width: 35%;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 44%;
    margin-right: 34px;
  }
}
