.logo__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo__text {
  &--header {
    margin-left: 56px;

    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }
}
