.main-nav__toggle {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle-line {
  height: 1.5px;
  width: 24px;
  background-color: $standard-text-color;
}

.main-nav__toggle--closed .main-nav__toggle-line::before {
  content: "";
  height: 2px;
  width: 24px;
  position: absolute;
  top: 11px;
  left: 8px;
  background-color: $standard-text-color;
}

.main-nav__toggle--closed .main-nav__toggle-line::after {
  content: "";
  height: 2px;
  width: 24px;
  position: absolute;
  bottom: 11px;
  left: 8px;
  background-color: $standard-text-color;
}

.main-nav__toggle--opened .main-nav__toggle-line,
.main-nav__toggle--nojs .main-nav__toggle-line {
  transform: rotate(45deg);
}

.main-nav__toggle--opened .main-nav__toggle-line::after,
.main-nav__toggle--nojs .main-nav__toggle-line::after {
  content: "";
  height: 2px;
  width: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
  background-color: $standard-text-color;
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__wrapper {
  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--opened,
  &--nojs {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
    background-color: $base-color;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    min-width: 440px;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;
  }
}
