.main-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 18px 15px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-header__logo {
  max-width: 64%;
}
