.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 15px;
    align-items: center;
  };

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-header__logo {
  max-width: 64%;
}
