.main-nav__toggle {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-nav__toggle-line {
  height: 1.5px;
  width: 24px;
  background-color: $standard-text-color;
}

.main-nav__toggle--nav-closed .main-nav__toggle-line::before {
  content: "";
  height: 2px;
  width: 24px;
  position: absolute;
  top: 11px;
  left: 8px;
  background-color: $standard-text-color;
}

.main-nav__toggle--nav-closed .main-nav__toggle-line::after {
  content: "";
  height: 2px;
  width: 24px;
  position: absolute;
  bottom: 11px;
  left: 8px;
  background-color: $standard-text-color;
}

.main-nav__list {
  &--closed {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $base-color;
  }
}
