.main-footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-footer__wrapper {
  padding-top: 35px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-footer__logo {
  display: block;
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__social {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-width: 135px;
  }
}

.main-footer__copyright {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
