.main-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer__logo {
  display: block;
  padding-bottom: 20px;
  text-align: center;
}

.main-footer__social {
  padding: 20px;
}

.main-footer__copyright {
  padding-top: 20px;
}
