.main-container {
  &--nojs {
    @media (max-width: $tablet-width) {
      margin-top: 200px;
    }
  }
}

.main-container__title-wrapper {
  margin-top: 29px;

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.main-container__title {
  @include font-secondary;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
