.main-header {
  &--index {
    @media (min-width: $desktop-width) {
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 6px 9px 13px;

  &::after {
    content: "";
    position: absolute;
    left: -1px;
    bottom: 0;
    height: 1px;
    width: 320px;
    background-color: $card-border-color;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px 30px;
    align-items: center;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 54px 0;
  }
}

.main-header__logo {
  max-width: 70%;
}
