.program-list {
  @include list-reset;
}

.program-list__item {
  position: relative;
  padding: 20px 22px 20px 22px;
  background-color: $basic-grey-color;

  &:not(:last-child) {
    margin: 0 0 23px 0;
  }

  @media (min-width: $tablet-width) {
    min-height: 375px;
    padding: 77px 62px 53px 53px;

    &:not(:last-child) {
      margin: 0 0 25px 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    width: 100%;
    padding: 47px 62px 55px 52px;
    margin: 0;

    &:not(:last-child) {
      margin: 0;
    }
  }
}

.program-list__wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0 200px 0 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    margin: 32px 0 32px 163px;
  }
}

.program-list__icon-background {
  position: absolute;
  top: 20px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 25%;
    left: auto;
    right: 62px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.program-list__icon {
  position: absolute;
  left: 7px;

  &--pro {
    top: 15px;
    left: -9px;
  }

  @media (min-width: $tablet-width) {
    left: 30px;
    top: -13px;
    width: 140px;
    height: 194px;

    &--pro {
      top: 42px;
      left: -33px;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    left: 11px;
    top: -4px;
    width: 79px;
    height: 97px;

    &--pro {
      left: -16px;
      top: 23px;
      width: 134px;
      height: 56px;
    }
  }
}

.program-list__title {
  @include font-secondary;
  margin: 0;
  padding: 7px 0 5px 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.program-list__description {
  margin: 0;
  padding: 25px 0 22px 0;
  font-size: 14px;
  line-height: 18px;
  color: $special-text-color;
  text-align: start;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 58%;
    padding: 24px 0;
    margin: 0 0 17px 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
    padding: 39px 0 29px 0;
  }
}

.program-list__link {
  @include font-secondary;
  display: flex;
  padding: 19px 47px 0 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $standard-text-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: start;

  &::after {
    content: "";
    position: relative;
    display: block;
    min-width: 24px;
    height: 12px;
    margin-left: 15px;
    background-image: url("../img/icons/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      min-width: 32px;
      background-image: url("../img/icons/icon-arrow-hover.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    letter-spacing: 1.8px;
    word-spacing: 1.4px;

    &::after {
      margin-left: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 20px;
    line-height: 30px;
    padding: 0;

    &::after {
      top: 9px;
    }
  }
}

.program-list__arrow {
  margin-left: 15px;
}
