.program-list {
  @include list-reset;
}

.program-list__item {
  padding: 20px 22px 20px 22px;
  margin: 0 0 20px 0;
  background-color: $basic-grey-color;

  @media(min-width: $tablet-width) {
    position: relative;
    min-height: 375px;
    padding: 77px 62px 53px 53px;
  }

  @media(min-width: $desktop-width) {
    position: relative;
    padding: 70px 61px 55px 52px;
  }
}

.program-list__wrapper {
  display: flex;
  align-items: center;

  @media(min-width: $desktop-width) {
    justify-content: center;
  }
}

.program-list__icon-background {
  position: relative;
  margin-right: 19px;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 50%;

  @media(min-width: $tablet-width) {
    position: absolute;
    margin-right: 0;
    top: 25%;
    right: 62px;
    width: 200px;
    height: 200px;
  }

  @media(min-width: $desktop-width) {
    position: absolute;
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}

.program-list__icon {
  position: absolute;

  &--slim {
    left: 0;
  }

  &--pro {
    top: 15px;
    left: 0;
  }

  @media(min-width: $tablet-width) {
    &--slim {
      right: 62px;
      width: 140px;
      height: 194px;
    }

    &--pro {
      top: 20px;
      left: -10px;
      width: 268px;
      height: 112px;
    }
  }

  @media(min-width: $desktop-width) {
    &--slim {
      left: 25px;
      width: 70px;
      height: 97px;
    }

    &--pro {
      top: 30px;
      width: 134px;
      height: 56px;
    }

  }
}

.program-list__title {
  @include font-secondary;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media(min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.program-list__description {
  margin: 0;
  padding: 22px 0;
  font-size: 14px;
  line-height: 18px;
  color: $special-text-color;
  text-align: start;

  @media(min-width: $tablet-width) {
    max-width: 340px;
  }
}

.program-list__link {
  @include font-secondary;
  display: block;
  padding: 15px 47px 0 0;
  font-size: 16px;
  line-height: 16px;
  color: $standard-text-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: start;
}

.program-list__arrow {
  margin-left: 15px;
}
