.results {
  background-color: $background-color;
}

.results__wrapper {
  padding: 25px 0 40px;
}

.results__title {
  @include font-secondary;
  margin: 0 0 40px 0;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
}

.results__description {
  color: $special-text-color;
  text-align: start;
}

.results__list {
  @include list-reset;
  margin: 0 0 34px 0;
  display: flex;
  justify-content: space-between;
}

.results__item {
  padding: 14px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid $special-grey-color;
  border-radius: 2px;
}

.results__item-title {
  @include font-secondary;
  font-size: 24px;
  line-height: 24px;
}

.results__item-description {
  margin-top: 5px;
  font-size: 12px;
  line-height: 12px;
  color: $special-text-color;
}

.results__text {
  @include font-secondary;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.results__image {
  height: 256px;
  padding: 0 0 40px 0;
}
