.site-list {
  @include list-reset;
  position: relative;
  text-align: center;
  color: $standard-text-color;

  &--main {
    @media (min-width: $desktop-width) {
      color: $base-color;
    }
  }
}

.site-list--main .site-list__item--current::after {
  @media (min-width: $desktop-width) {
    background-color: $base-color;
  }
}

.site-list__item {
  @include font-secondary;
  padding: 22px 10px 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--current {
    position: relative;

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        bottom: -15px;
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        left: 0;
      }
    }
  }
}

.site-list__link {
  text-decoration: none;
  color: inherit;
}
