.slider {
  position: relative;

  @media (min-width: $desktop-width) {
    position: absolute;
  }
}

.slider__items {
  height: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 0 18%, $background-color 18% 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-items: center;
    background: none;
  }
}

.slider__image {
  width: 162px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    height: 102%;
  }

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 91%;
  }

  &--before {
    background-image: url("../img/mobile/cat-before-mobile.png");
    background-position-x: -18%;
    background-position-y: 3px;
    background-size: initial;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/cat-before-mobile@2x.png");
      background-position-x: -18%;
      background-position-y: 5px;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -53px;
      right: calc(50% - 5px);
      background-image: url("../img/tablet/cat-before-tablet.png");
      background-position: 5% 50%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet/cat-before-tablet@2x.png");
        top: -54px;
        background-position: 4% 50%;
      }
    }

    @media (min-width: $desktop-width) {
      top: -133px;
      right: calc(50% - 25px);
    }
  }

  &--after {
    background-image: url("../img/mobile/cat-after-mobile.png");
    background-position-x: 116%;
    background-position-y: 3px;
    background-size: initial;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/cat-after-mobile@2x.png");
      background-position-x: 118%;
      background-position-y: 4px;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/tablet/cat-after-tablet.png");
      background-position: 99% 8%;
      position: absolute;
      top: -55px;
      left: calc(50% + 7px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/tablet/cat-after-tablet@2x.png");
        top: -53px;
      }
    }

    @media (min-width: $desktop-width) {
      top: -135px;
      left: calc(50% + 20px);
      background-position: 97% 8%;
    }
  }
}

.slider__button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: calc(50% - 20px);
  color: $additional-grey-color;
  cursor: pointer;
  border: none;

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: $background-active-color;
  }

  @media (min-width: $tablet-width) {
    top: -55px;
    left: calc(50% - 18px);
  }

  @media (min-width: $desktop-width) {
    left: auto;
    top: -135px;
    right: 239px;
  }
}

.slider__button-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__button-icon-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
