.social__list {
  @include list-reset;
  display: flex;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 0 19px;
  justify-content: center;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  text-decoration: none;
  color: $additional-grey-color;

  &:hover .social__icon {
    color: $accent-color;
    fill: $accent-color;
  }

  &:active .social__icon {
    color: rgba($accent-color, 0.3);
    fill: rgba($accent-color, 0.3);
  }
}
