//viewports
$tablet-width: 768px;
$desktop-width: 1440px;

//colors
$base-color: #ffffff;
$accent-color: #68b738;

$background-color: #eaeaea;
$background-additional-color: #d9d9d9;

$special-text-color: #444444;
$additional-text-color: #222222;
$special-grey-color: #cdcdcd;
$basic-grey-color: #f2f2f2;
$standard-text-color: #000000;
$dark-text-color: #111111;
$dark-text-color-2: #222222;

$form-border-color: #e7e7e7;
$card-border-color: #ebebeb;
$card-plus-color: #d3d3d3;
