$base-color: #FFFFFF;
$accent-color: #68B738;

$background-color: #EAEAEA;
$background-additional-color: #D9D9D9;

$special-text-color: #444444;
$additional-text-color: #222222;
$special-grey-color: #CDCDCD;
$basic-grey-color: #F2F2F2;
$standard-text-color: #000000;

